@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: #041c3b;
    height: 100%;
}

/* headings and logo */

h1, h2 {
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    color: #041c3b;
}

#logo a {
    float: left;
    margin-left: 20px;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    color: #041c3b;
    font-size: 180%;
}

#menu {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

#menu li{
    float: right;
    font-size: 110%;
    list-style-type: none;
    margin-right: 20px;
}

#menu, #logo {
    line-height: 100px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-decoration: underline;
}

/* hero image */

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;
}

#hero-outer{
    height: 600px;
    width: 100%;
    position: relative;
}

.cover-text, .cover-text h2{
    color: white;

}

.cover-text{   
    font-size: 140%;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(4, 28, 59, .7);
    position: absolute;
    z-index: 1;
}

#cover-text-home{
    width: 500px;
    height: 150px;
    top: 300px;
    left: 150px;
}

/* Introduction */

#introduction{
    width: 66%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

#introduction h2{
    font-size: 250%;
}

.about{
    font-size: 180%;
}

.about-section{
    height: 25%;
    margin-top: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Times Section */

#times{
    background: url('../images/sea-swimmers.jpeg') no-repeat center center;
    overflow: hidden;
}

#meeting-times, #events-times{
    height: 600px;
    width: 50% ;
    float:left ;
    margin: 0 auto;
}

#times-box-header, #events-box-header{
    width: 85%;
    outline: none;
    overflow: auto;
    margin-top: 50px;
    margin-left: 10%;
    background-color: rgba(4, 28, 59, .7);
}

#times-box, #events-box{
    height: 300px;
    width: 85%;
    outline: none;
    overflow: auto;
    background-color: rgba(4, 28, 59, .7);
    margin-top: 50px;
    margin-left: 10%;
}

#times-box-header h2, #events-box-header h2{
    color: white;
    text-align: center;
    font-size: 250%;
}

.times-entry{
    color: white;
    border: solid #041c3b 2px;
    font-size: 150%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.times-entry i{
    color: white;
}

/* footer */

footer{
    height: 150px;
    background-color: #041c3b;
    left: 0;
    bottom: 0;
    width: 100%;
    display:block;
    
}

.social-networks {
    text-align:center ;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 180%;
    margin: 1px;
    padding: 5%;
    padding-bottom: 0;
    color: white;
}

/* photo gallery */

#cover-text-gallery{
    width: 400px;
    height: 125px;
    top: 120px;
    left: 400px;
    position: absolute;
}

#slider-box{
    height: 700px;
    width: 60%;
    overflow:hidden;
    margin-left: 20%;
}

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    left: 0;
    margin: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    float:left;
    width: 20%;
}

@keyframes slider{
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25%{
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

/* sign up page */

#hero-outer-sign-up{
    height: 100%;
    width: 100%;
    position: relative;
}

#hero-image-sign-up{
    height: 700px;
    width: 100%;
    background: url('../images/signup-bg.jpeg') no-repeat center center;
}

#cover-text-sign-up{
    width: 800px;
    height: 500px;
    top: 90px;
    left: 150px;
}

.text-input{
    background: transparent;
    width: 60%;
    height: 25px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 2px;
}

.sign-up-button{
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #1165d3;
    color: white;
    display: block;
}

/* media queiries */

@media screen and (max-width: 1200px){

    /* nav changes */

    #menu {
        height: 100px;
        display: inline-block;
    }

    #menu li{
        float: left;
        font-size: 110%;
        list-style-type: none;
        margin-left: 20px;
        line-height: 100px;
    }

    /* gallery changes */

    #cover-text-gallery{
        top: 175px;
        left: 250px;
        position: absolute;
    }

    /* sign-up changes */
    
    #cover-text-sign-up{
        width: 80%;
        height: 500px;
        top: 90px;
        left: 10%;
    }

    #cover-text-sign-up{
        width: 60%;
        height:fit-content;
    }

    #slider-box{
        width: 100%;
        overflow:hidden;
        margin: 0 auto;
    }
}

@media screen and (max-width: 929px){
    
    /* nav changes */

    #menu, #logo {
        line-height: 75px;
    }
    #logo a {
        margin-left: 10px;
        font-size: 130%;
    }
    #menu {
        height: 75px;
    }
    #menu li {
        line-height: 75px;
        font-size: 100%;
        margin-left: 5px;
    }

    /* homepage changes */

    #hero-image, #hero-outer{
        height: 350px;
    }

    .about{
        font-size: 150%;
    }
    
    #cover-text-home{
        width: 80%;
        height: 150px;
        top: 25px;
        left: 5%;
    }

    #introduction{
        width: 80%;
    }

    #introduction h2{
        font-size: 200%;
    }

    #times h2 {
        font-size: 175%;
    }

    /* gallery changes */

    #slider-box{
        height: 60vh;
    }

    #cover-text-gallery {
        width: 80%;
        height: 70px;
        top: 140px;
        left: 20px;
        position: absolute;
    }
    .cover-text{
        font-size:100%;
        padding-top:10px;
        padding-left: 5%;
    }

    /* sign-up page */

    .text-input{
        display: inherit;
        width: 90%;
        margin:0;
    }

    #cover-text-sign-up{
        width: 80%;
        height: 560px;
        top: 25px;
        left: 7%;
    }

}

@media screen and (max-width: 450px){

    #logo a {
        font-size: 110%;
    }

    #menu li {
        line-height: 50px;
        font-size: 80%;
    }

    .cover-text{
        font-size:80%;
        padding-top: 2%;
        padding-left: 5%;
    }

    #cover-text-home{
        height: 120px;
    }

    #cover-text-gallery{
        height: 60px;
    }
    
    #cover-text-sign-up{
        height: 480px;
    }
    
    
}

@media screen and (max-width: 300px){
    #logo a {
        font-size: 95%;
    }

    #menu{
        height: 50px;
    }
    
    #menu li {
        line-height: 50px;
        font-size: 65%;
    }

}