@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: #041c3b;
}

/* headings and logo */


h1, h2 {
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    color: #041c3b;
}

#logo{
    float: left;
    margin-left: 20px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

#menu li{
    float: right;
    font-size: 110%;
    list-style-type: none;
    margin-right: 20px;
}
#menu, #logo {
    line-height: 75px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    text-decoration: underline;
}

/* hero image */

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;

}

#cover-text, #cover-text h2{
    color: white;

}

#cover-text{
    font-size: 140%;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    width: 500px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(4, 28, 59, .7);
    bottom: 300px;
    left: 150px;
    position: absolute;
}


