@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: Quicksand, sans-serif;
    font-weight: 400;
    color: #041c3b;
}

/* headings and logo */


h1, h2 {
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    color: #041c3b;
}

#logo{
    float: left;
    margin-left: 20px;
}

#menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

#menu li{
    float: right;
    font-size: 110%;
    list-style-type: none;
    margin-right: 20px;
}
#menu, #logo {
    line-height: 75px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    text-decoration: underline;
}

/* hero image */

#hero-image{
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpeg') no-repeat center center;


}
#hero-outer{
    height: 600px;
    width: 100%;
    position: relative;
}
#cover-text, #cover-text h2{
    color: white;

}

#cover-text{
    font-size: 140%;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
    width: 500px;
    height: 150px;
    padding-top: 20px;
    padding-left: 20px;
    background-color: rgba(4, 28, 59, .7);
    top: 300px;
    left: 150px;
    position: absolute;
}

/* Introduction */

#introduction{
    width: 66%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

#introduction h2{
    font-size: 250%;
}

.about{
    font-size: 180%;
}

.about-section{
    height: 25%;
    margin-top: 50px;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Times Section */

#times{
    background: url('../images/sea-swimmers.jpeg') no-repeat center center;
    overflow: hidden;
}

#meeting-times, #events-times{
    height: 600px;
    width: 50% ;
    float:left ;
    margin: 0 auto;
}



#times-box-header, #events-box-header{
    width: 85%;
    outline: none;
    overflow: auto;
    margin-top: 50px;
    margin-left: 10%;
    background-color: rgba(4, 28, 59, .7);
}

#times-box, #events-box{
    height: 300px;
    width: 85%;
    outline: none;
    overflow: auto;
    background-color: rgba(4, 28, 59, .7);
    margin-top: 50px;
    margin-left: 10%;
}

#times-box-header h2, #events-box-header h2{
    color: white;
    text-align: center;
    font-size: 250%;
}


.times-entry{
    color: white;
    border: solid #041c3b 2px;
    font-size: 150%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.times-entry i{
    color: white;
}

/* 
#events-box-header{
    width: 85%;
    outline: none;
    overflow: auto;
    margin-top: 50px;
    margin-right: 10%;
    background-color: rgba(4, 28, 59, .7);
}

#events-box{
    height: 300px;
    width: 85%;
    outline: none;
    overflow: auto;
    background-color: rgba(4, 28, 59, .7);
    margin-top: 50px;
    margin-right: 10%;
} */
